<h1>Nastavenia</h1>

<h2>Dátové zdroje</h2>

<input type="button" ui-sref="settings.new" value="Nový datasource"/>

<table>
    <thead>
    <tr>
        <th>Databáza</th>
        <th>Názov servera</th>
        <th>Názov databázy</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="setting in settingsController.settings">
        <td>{{ setting.driverClassName }}</td>
        <td>{{ setting.serverName }}</td>
        <td>{{ setting.databaseName }}</td>
        <td><a href="javascript:void(0);" ng-click="">Upraviť</a></td>
        <td><a href="javascript:void(0);" ng-click="settingsController.deleteSetting()">Zmazať</a></td>
    </tr>
    </tbody>
</table>