<h1>New datasource</h1>

<div class="row">
    <label for="type">Databáza</label>
    <select id="type" ng-model="newSettingController.setting.driverClassName">
        <option value="oracle.jdbc.OracleDriver">Oracle</option>
        <option value="com.mysql.jdbc.Driver">MySQL</option>
        <option value="org.postgresql.Driver">PostgreSQL</option>
    </select>
</div>
<div class="row">
    <label for="serverName">Server</label>
    <input id="serverName" type="text" placeholder="" ng-model="newSettingController.setting.serverName"/>
</div>
<div class="row">
    <label for="portNumber">Číslo portu</label>
    <input id="portNumber" type="text" placeholder="" ng-model="newSettingController.setting.portNumber"/>
</div>
<div class="row">
    <label for="databaseName">Názov databázy</label>
    <input id="databaseName" type="text" placeholder="" ng-model="newSettingController.setting.databaseName"/>
</div>
<div class="row">
    <label for="user">Prihlasovacie meno</label>
    <input id="user" type="text" placeholder="" ng-model="newSettingController.setting.user"/>
</div>
<div class="row">
    <label for="password">Prihlasovacie heslo</label>
    <input id="password" type="password" placeholder="" ng-model="newSettingController.setting.password"/>
</div>
<br />
<input type="submit" ui-sref="settings" value="Späť"/>
<input type="submit" value="Uložiť" ng-click="newSettingController.saveOrUpdate()"/>