<h1>Nastavenia</h1>

<h2>Dátové zdroje</h2>

<input type="button" ui-sref="settings.new" value="Nový datasource"/>

<table>
    <thead>
    <tr>
        <th>Port</th>
        <th>Názov</th>
        <th>Typ</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="setting in settingsController.settings">
        <td>{{ setting.portNumber }}</td>
        <td>{{ setting.serverName }}</td>
        <td>{{ setting.driverType }}</td>
        <td><a href="javascript:void(0);" ng-click="">Upraviť</a></td>
    </tr>
    </tbody>
</table>