<div id="table">

    <!-- ############## Tabulka Testy ##############-->

    <table ng-show="tab == 1">
        <tr>
            <input ng-click="testy()" type="submit" value="Testy" ng-class="{active: tab == 1}"/>
            <input ng-click="logs()" type="submit" value="Logs" ng-class="{active: tab == 2}"/>
        </tr>
        <br>
        <tr>
            <input type="text" placeholder="Vyhľadať" id="search"/>
            <input type="submit" value="Odoslať"/>
            <input type="submit" value="Nový test" ui-sref="new"/>
        </tr>
        <br>
        <thead>
        <tr>
            <th>ID</th>
            <th>Názov</th>
            <th>Výsledok</th>
        </tr>
        </thead>
        <br>
        <tbody>
        <tr ng-repeat="test in testController.tests">
            <th>{{ test.id }}</th>
            <th>{{ test.nazov }}</th>
        </tr>
        </tbody>
    </table>

    <!-- ############## Tabulka Logs ##############-->

    <table ng-show="tab == 2" ng-class="{active: tab == 2}">

        <thead>
        <tr>
            <th>ID</th>
            <th>Názov</th>
            <th>Výsledok</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="subjects in tabTesty.subjects">
            <th>{{ $index + 1 }}</th>
            <th>{{ subjects.Name }}</th>
            <th>{{ subjects.Cell }}
                <input type="checkbox" name="first" ng-checked="tabTesty.subjects.indexOf(subjects) != -1"
                       ng-change="toggleAddSubject(subjects)"/></th>
        </tr>
        </tbody>
    </table>
</div>