<div id="form">
    <input type="text" name="parametr" placeholder="ID"/>
    <input type="text" name="parametr" placeholder="AKT" ng-model="newTestController.test.akt"/>
    <input type="text" name="parametr" placeholder="SKUPINA" ng-model="newTestController.test.skupina"/>
    <input type="text" name="parametr" placeholder="KOD" ng-model="newTestController.test.kod"/>
    <input type="text" name="parametr" placeholder="NAZOV" ng-model="newTestController.test.nazov"/>
    <input type="text" name="parametr" placeholder="SRC_SQL" ng-model="newTestController.test.src_sql"/>
    <input type="text" name="parametr" placeholder="TRG_SQL" ng-model="newTestController.test.trg_sql"/>
    <input type="text" name="parametr" placeholder="OOND" ng-model="newTestController.test.oond"/>
    <input type="text" name="parametr" placeholder="POPIS" ng-model="newTestController.test.popis"/>
    <input type="text" name="parametr" placeholder="SRC_PAR" ng-model="newTestController.test.src_par"/>
    <input type="text" name="parametr" placeholder="TRG_PAR" ng-model="newTestController.test.trg_par"/>
    <input type="submit" value="back" ui-sref="tests"/>
    <input type="submit" value="send" ng-click=""/>

    <!--{{newTestController.akt}}-->
</div>