<div id="form">
    <input ng-required="true" type="text" ng-pattern="onlyNumbers" name="parametr" placeholder="AKT"
           ng-model="newTestController.test.akt"/>
    <input type="text" name="parametr" placeholder="SKUPINA" ng-model="newTestController.test.skupina"/>
    <input type="text" name="parametr" placeholder="KOD" ng-model="newTestController.test.kod"/>
    <input ng-required="true" type="text" name="parametr" placeholder="NAZOV" ng-model="newTestController.test.nazov"/>
    <textarea ui-codemirror ui-codemirror-opts="editorOptions" type="text" name="parametr" placeholder="SRC_SQL"
              ng-model="newTestController.test.src_sql"></textarea>
    <textarea ui-codemirror ui-codemirror-opts="editorOptions" type="text" name="parametr" placeholder="TRG_SQL"
              ng-model="newTestController.test.trg_sql"></textarea>
    <input type="text" name="parametr" placeholder="OOND" ng-model="newTestController.test.oond"/>
    <input type="text" name="parametr" placeholder="POPIS" ng-model="newTestController.test.popis"/>
    <div class="row">
        <label for="src">Source</label>
        <select  id="src" ng-model="newTestController.test">
            <option>{{ newTestController.test }}</option>
            <!--<option ng-repeat="test in newTestController.tests" >{{newTestController.test}}</option>-->
        </select>
    </div>
    <div class="row">
        <label for="trg">Target</label>
        <select id="trg" ng-model="newTestController.test">
            <option ng-repeat="dataSource in newTestController.dataSources" value="{{dataSource.id}}">{{dataSource.host}}</option>
        </select>
    </div>
    <!--<input type="text" name="parametr" placeholder="SRC_PAR" ng-model="newTestController.test.src_par"/> -->
    <!--<input type="text" name="parametr" placeholder="TRG_PAR" ng-model="newTestController.test.trg_par"/> -->
    <input class="button" type="submit" value="back" ui-sref="tests"/>
    <input type="submit" value="send" ng-click="newTestController.send()"/>
</div>