<div id="form">
    <input type="text" placeholder="AKT" ng-pattern="onlyNumbers" ng-required="true"
           ng-model="newTestController.test.akt"/>
    <input type="text" placeholder="SKUPINA" ng-model="newTestController.test.group"/>
    <input type="text" placeholder="KOD" ng-model="newTestController.test.code"/>
    <input type="text" placeholder="NAZOV" ng-required="true" ng-model="newTestController.test.name"/>

    <textarea ui-codemirror ui-codemirror-opts="editorOptions" type="text" name="parametr" placeholder="SRC_SQL"
              ng-model="newTestController.test.sourceSql"></textarea>
    <textarea ui-codemirror ui-codemirror-opts="editorOptions" type="text" name="parametr" placeholder="TRG_SQL"
              ng-model="newTestController.test.targetSql"></textarea>
    <input type="text" placeholder="Podmienka" ng-model="newTestController.test.cond"/>
    <input type="text" placeholder="POPIS" ng-model="newTestController.test.description"/>

    <div class="row">
        <label for="src">Source</label>
        <select id="src" ng-model="newTestController.test.sourceDataSourceId" convert-to-number>
            <option ng-repeat="dataSource in newTestController.dataSources" value="{{dataSource.id}}">{{dataSource.serverName}}</option>
        </select>
    </div>

    <div class="row">
        <label for="trg">Target</label>
        <select id="trg" ng-model="newTestController.test.targetDataSourceId" convert-to-number>
            <option ng-repeat="dataSource in newTestController.dataSources" value="{{dataSource.id}}">{{dataSource.serverName}}</option>
        </select>
    </div>

    <input type="submit" value="Späť" ui-sref="tests"/>
    <input type="submit" value="Uložiť" ng-click="newTestController.send()"/>
</div>