<h1>Zoznam testov</h1>
<!--<input type="text" placeholder="Vyhľadať" id="search"/>-->
<!--<input type="submit" value="Odoslať"/>-->

<!--<br/><br/>-->

<input type="button" ui-sref="tests.new" value="Pridať test"/>

<div id="table">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Názov</th>
            <th>Výsledok</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="test in testController.tests">
            <td>{{ test.id }}</td>
            <td>{{ test.name }}</td>
            <td>{{ test.lastResult }}</td>
            <td>
                <a href="javascript:void(0);" ng-click="testController.runTest(test.id)">Spustiť</a>
                <a href="javascript:void(0);" ng-click="testController.goToUpdate(test.id)">Upraviť</a>
                <a href="javascript:void(0);" ng-click="testController.delete(test.id)">Odstrániť</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>