<h1>Zoznam testov</h1>
<!--<input type="text" placeholder="Vyhľadať" id="search"/>-->
<!--<input type="submit" value="Odoslať"/>-->

<!--<br/><br/>-->

<input type="button" ui-sref="tests.new" value="Pridať test"/>

<div id="table">
    <table ng-show="tab == 1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Názov</th>
            <th>Výsledok</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="test in testController.tests">
            <td>{{ test.id }}</td>
            <td>{{ test.name }}</td>
            <td><a href="javascript:void(0);" ng-click="">Spustiť</a></td>
        </tr>
        </tbody>
    </table>

    <table ng-show="tab == 2" ng-class="{active: tab == 2}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Názov</th>
            <th>Výsledok</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="subjects in tabTesty.subjects">
            <th>{{ $index + 1 }}</th>
            <th>{{ subjects.Name }}</th>
            <th>{{ subjects.Cell }}
                <input type="checkbox" name="first" ng-checked="tabTesty.subjects.indexOf(subjects) != -1"
                       ng-change="toggleAddSubject(subjects)"/></th>
        </tr>
        </tbody>
    </table>
</div>