@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300&subset=latin,greek,greek-ext,latin-ext,vietnamese,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);


body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font: normal 14px 'Open Sans', sans-serif;
}

input#search, input#search1 {
    float: left;
    margin: 5px 0;
    padding-left: 35px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAABmJLR0QAmwC4ADpS1NtkAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3AgDFDQ0ClyeNQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAACIElEQVRIx7WVT29MYRTGf0/bqTGiNCZM6US0JK2IdEVEbC18AhIrOxZ8AuEj+JOITRMb1l1bsJCwKBWCSEr6RyISbSaTUVpVj0XPTd4M07lVTnJz7z3ve59zznPO895O/mCSdgC7JPUDJUkLwE/WaWoCLQGnbe8DisAmSUu2a8CkpDHby+sGl9QHXLGtFtVge1bSddtf8oB3xr0KXE6CLQKfgRrwAyiFfxswJOkx4LbgkgqSzkkqh28OuCdpDHgIvJA0BxxcLUDbI+BkO/AOYNB21TaSGsAd4LntxSyY7QeSbgPYBjiZh5YO2zslbY4PZ1plZPs9MB3PBWAgT+ZOmvZpjb3fgI+SkCSgpy14bCTJiBbT0gVssZ1Rozy0NGyvREYHJBVb7N0KHMryAGbz0PIBmI9sdts+lYxeZj22zyejOwXM55nzr6HGochov6TBkH0ZGJF0BqgkFF2TVJa0AnzPI/+zwIkmnpdtF0Kdme9GLF+w/Rq41U6hAC+jiuGmdcdVB24CBeBiCKoC7AXG2x5ckVmv7SNANZpbB97ZfiKpaPsq0JuMsELFo7aX1gTPYQOSLtkuNgWYAEbjaPiNlrxWA54Bx4GuqFZAH9CfUvQ34ERv3kgaiTM/qyDrwdONgAPUJc1IOmy7O/FXgD3A242AE0J6JelYSlH8eKY3Cg7QkDQh6aikbq8K4hFw/1+AAywAU5KGJY0Dd/kPVk1ffgGoPcK3X19i/QAAAABJRU5ErkJggg==);
    background-position: 6px center;
    background-repeat: no-repeat;
    width: 180px;
}

/**
 * Table
 */
table {
    width: 900px;
    border-collapse: collapse;
}

table tr td,
table tr th {
    padding: 10px 15px;
}

table thead tr th {
     text-align: left;
     border: 1px solid #d0d0d0;
     background: linear-gradient(to bottom,  #f0f0f0 1%,#e5e5e5 100%);
     box-shadow: inset 1px 0 1px #fff;
     cursor: pointer;
 }
table tbody tr th {
    text-align: left;
    background: #ffffff;
    border: 1px solid #d0d0d0;
    cursor: pointer;
}

input[type="text"],
input[type="url"],
input[type="textarea"],
textarea,
select {
    display: block;
    padding: 8px;
    margin: 0 30% 5px;
    color: #555;
    background: #fff;
    border: 1px solid #ddd;
    outline: none;
    width: 500px;
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
    font: normal 1em 'Open Sans', sans-serif;
    -webkit-box-shadow: 1px 1px 1px #fff;
    -moz-box-shadow: 1px 1px 1px #fff;
    box-shadow: 1px 1px 1px #fff;
}

textarea {
    height: 100px;
}

table tbody tr td {
    border: 1px solid #ddd;
    background: #fff;
    vertical-align: top;
}

table tbody tr td.action {
    width: 10px;
}

.active {
    color: #000000 !important;
    font-weight: bold !important;
}

input[type="submit"] {
     padding: 5px;
     margin-left: 10px;
     color: #fff;
     background: #5a7ba2;
     font: 100 1.4em 'Dosis', sans-serif;
     cursor: pointer;
     border: none;
     text-align: center;
     width: 100px;
     outline: none;
     /*-webkit-border-radius: 5px;*/
     /*-moz-border-radius: 5px;*/
     /*border-radius: 5px;*/
 }

input[type="radio"]  {
    margin-left: 40px;
}

input[type="checkbox"]  {
    margin-left: 40px;
}

input.ng-invalid {
    border-color: red;
}

input.button {
    margin-left: 31%;

}
.navbar {
    background: #000;
    margin-bottom: 20px;
}
.navbar-menu {
    margin: 0;
    list-style-type: none;
    height: 30px;
}
.navbar-menu li {
    float: left;
    height: 20px;
    min-height: 20px;
    padding: 5px;
}
.navbar-menu li a {
    color: #fff;
    text-decoration: none;
}
.navbar-menu li a.active {
    color: #efefef;
}

.content {
    padding: 20px;
}