<!doctype html>
<html>
<head>
    <title></title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="robots" content="noindex,nofollow"/>
    <meta name="viewport" content="width=device-width"/>

</head>
<body ng-app="app" ng-controller="AppController as appController">

<script src="bower_components/angular/angular.js"></script>

<script src="scripts/app/app.js"></script>
<script src="scripts/app/app.controller.js"></script>
<link rel="stylesheet" type="text/css" href="style.css" />

<div id="table">

    <!-- ############## Tabulka Testy ##############-->

    <table ng-show="tab == 1" >
        <tr>
    <input ng-click="testy()" type="submit" value="Testy" ng-class="{active: tab == 1}"/>
            <input ng-click="logs()" type="submit" value="Logs" ng-class="{active: tab == 2}"/>
        </tr>
        <br>
        <tr>
    <input type="text" placeholder="Vyhľadať" id="search" ng-model="searchQuery" />
    <input type="submit" value="Odoslať" />
    <input type="submit" value="Nový test" />
        </tr>
        <br>
        <thead>
        <tr>
            <th>ID</th>
            <th>Názov</th>
            <th>Výsledok</th>
        </tr>
        </thead>
        <br>
        <tbody>
        <tr>
            <th>1</th>
            <th>Integračný test</th>
            <th>Cell 1
             <input type="checkbox" name="first" checked="checked"/> </th>
        </tr>
        <tr>
            <th>2</th>
            <th>TEST Nehnuteľnosti</th>
            <th>Cell 2
             <input type="checkbox" name="second" checked="checked"/> </th>
        </tr>
        <tr>
            <th>3</th>
            <th>TEST Konania V</th>
            <th>Cell 3
             <input type="radio"  value="first" checked="checked" name="radiobox"/> </th>
        </tr>
        <tr>
            <th>4</th>
            <th>TEST Konania G1</th>
            <th>Cell 4
             <input type="radio"  value="second" checked="checked" name="radiobox"/> </th>
        </tr>
        </tbody>
        </table>

    <!-- ############## Tabulka Logs ##############-->

    <table ng-show="tab == 2" ng-class="{active: tab == 2}">
        <!-- PRECO TO ROBILO ???????????????????????
         <tr>
              <input ng-click="testy()" type="submit" value="Testy" />
              <input ng-click="logs()" type="submit" value="Logs" />
          </tr>
          <br>
          <tr>
              <input type="text" placeholder="Vyhľadať" id="search1" ng-model="searchQuery" />
              <input type="submit" value="Odoslať" />
              <input type="submit" value="Nový test" />
          </tr>
          <br>-->

          <thead>
          <tr>
              <th>ID</th>
              <th>Názov</th>
              <th>Výsledok</th>
          </tr>
          </thead>
          <br>
          <tbody>
          <tr>
              <th>1</th>
              <th>Integračný test</th>
              <th>Cell 1
                  <input type="checkbox" name="first" checked="checked"/> </th>
          </tr>
          <tr>
              <th>2</th>
              <th>TEST Nehnuteľnosti</th>
              <th>Cell 2
                  <input type="checkbox" name="second" checked="checked"/> </th>
          </tr>
          <tr>
              <th>3</th>
              <th>TEST Konania V</th>
              <th>Cell 3
                  <input type="radio"  value="first" checked="checked" name="radiobox"/> </th>
          </tr>
          <tr>
              <th>4</th>
              <th>TEST Konania G1</th>
              <th>Cell 4
                  <input type="radio"  value="second" checked="checked" name="radiobox"/> </th>
          </tr>
          </tbody>
      </table>
  </div>

  </body>
  </html>